@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  src: url(/fonts/iAWriterQuattroV.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 400 900;
  font-style: italic;
  src: url(/fonts/iAWriterQuattroV-Italic.ttf) format('truetype-variations');
}


@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/fira-code/fira-code-v9-latin-regular.woff2) format('woff2'),
    url(/fonts/fira-code/fira-code-v9-latin-regular.woff) format('woff');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/fira-code/fira-code-v9-latin-500.woff2) format('woff2'),
    url(/fonts/fira-code/fira-code-v9-latin-500.woff) format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/fira-code/fira-code-v9-latin-700.woff2) format('woff2'),
    url(/fonts/fira-code/fira-code-v9-latin-700.woff) format('woff');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(/fonts/outfit/Outfit-Light.woff2) format('woff2'),
    url(/fonts/outfit/Outfit-Light.woff) format('woff');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/outfit/Outfit-Regular.woff2) format('woff2'),
    url(/fonts/outfit/Outfit-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/outfit/Outfit-SemiBold.woff2) format('woff2'),
    url(/fonts/outfit/outfit-regular.woff) format('woff');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/outfit/Outfit-Bold.woff2) format('woff2'),
    url(/fonts/outfit/outfit-Bold.woff) format('woff');
}

/* @font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/CormorantGaramond-Regular.woff2) format('woff2');
} */

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/Cormorant-MediumItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'ET Book';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/et-book-display-italic-old-style-figures.woff) format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Moderat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/Moderat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Moderat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/Moderat-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Ashbury';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/ashburyreg.woff2) format('woff2');
}

@font-face {
  font-family: 'Ashbury';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/ashburyita.woff2) format('woff2');
}

@font-face {
  font-family: 'Ashbury';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/ashburybol_.woff2) format('woff2');
}

@font-face {
  font-family: 'Ashbury';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/ashburybolita.woff2) format('woff2');
}
